*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    

}
html,body{
    height:100%;
    width: 100%;

}
#nav{
    height: 100px;
    width: 100%;
    
    display: flex;
    align-items: center;
    padding: 10 90px;
    position: fixed;
    gap: 70px;
    justify-content: flex-start;

}
#nav h4{
    color: #00FFFF;
    text-transform: uppercase;
}
#nav img{
    height: 80px;
    padding-left: 20px;
}
#bg img{
 height: 100%;
 width: 100%;
 object-fit: cover;
}
#main{
    position: relative;
    background-color: rgba(0 ,0, 0, 0.139);
}
